.A1-Display {
    text-align: center;
}

.A1-Display p {
    font-size: 3rem;
    margin: 20px 0px;
}

.A1-Display span {
    display: inline-block;
    width: fit-content;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;

    /* font-weight:800; */
    letter-spacing: 2px;

    background: black;
    color: white;
}