.Main
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.App
{
    position: absolute;  
    top: 0px;
    background: url('../public/Images/Moon.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding: 10px;
    min-height: 100vh;
}

@media (max-width:320px)
{
    .App
    {
        width: 100vw;
    }
}