.Main
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.App
{
    position: absolute;  
    background: url('../public/Images/Sun.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding: 10px;
}